### Problem Statement

1. Create a text dataset with a single feature named 'text' and 5 samples <br>
   such that there is some level of similarities.
2. Apply tf-idf in the text column.

### Importing Libraries

In [17]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

### Creating & Saving Data

In [18]:
data = {
    'text': [
        "The smartphone market is evolving rapidly.",
        "New smartphone models are launched every year.",
        "Smartphone users love new technology and features.",
        "Technology is transforming the smartphone industry.",
        "Advanced technology improves smartphone performance."
    ]
}

data = pd.DataFrame(data)
data.to_csv('Data/Text_Data.csv', index=False)

### Display Data

In [19]:
data

                                                text
0         The smartphone market is evolving rapidly.
1     New smartphone models are launched every year.
2  Smartphone users love new technology and featu...
3  Technology is transforming the smartphone indu...
4  Advanced technology improves smartphone perfor...

### Apply TF_IDF

In [20]:
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(df['text'])

### TF_IDF Matrix To DataFrame

In [21]:
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())
tfidf_df

,amazing,and,bright,experience,fun,global,had,is,it,learning,...,recovery,rewarding,service,show,signs,sunny,terrible,the,weather,with
0,0.000000,0.370169,0.458815,0.000000,0.000000,0.000000,0.000000,0.370169,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.458815,0.000000,0.307274,0.458815,0.000000
1,0.428411,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.428411,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.286912,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.408248,0.000000,0.000000,0.000000,0.000000,...,0.408248,0.000000,0.000000,0.408248,0.408248,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.428411,0.000000,0.000000,0.428411,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.428411,0.000000,0.000000,0.000000,0.428411,0.286912,0.000000,0.428411
4,0.000000,0.350388,0.000000,0.000000,0.434297,0.000000,0.000000,0.350388,0.000000,0.434297,...,0.000000,0.434297,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000